doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css' rel='stylesheet')
    title Blog - Your Travel Blog
  body
    
    .container.mt-5
      .row
        .col-md-8
          .card.mb-4
            img.card-img-top(src='images/blog-post1.jpg' alt='Blog Post 1')
            .card-body
              h5.card-title Exploring the Wonders of Santorini
              p.card-text
                | Discover the breathtaking beauty of Santorini's white-washed buildings and stunning sunsets.
              a.btn.btn-primary(href='#') Read More
          .card.mb-4
            img.card-img-top(src='images/blog-post2.jpg' alt='Blog Post 2')
            .card-body
              h5.card-title Journey Through the Amazon Rainforest
              p.card-text Embark on an adventurous expedition into the heart of the Amazon rainforest.
              a.btn.btn-primary(href='#') Read More
          // Add more blog posts as needed
        .col-md-4
          .card
            .card-header Categories
            ul.list-group.list-group-flush
              li.list-group-item
                a(href='#') Adventure
              li.list-group-item
                a(href='#') Culture
              li.list-group-item
                a(href='#') Beaches
              // Add more categories as needed
    script(src='https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js')
